# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.build/
build/
dist/
.eggs/
*.egg-info/
*.egg

# Virtual environments
.env
.venv
venv/
ENV/

# Poetry

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
